
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
}

.flex-1of2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 200px;
}

.flex-2of2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rectangle {
    min-width: 465px;
    height: 933px;
    background-color: #272A30;
    border-radius: 10px;
    margin-right: 50px;
}

.rectangle:last-child {
    margin-right: 0;
}

.rect-cont {
    display: flex;
    float: left;
    padding: 0 30px;
    margin-bottom: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rect-icon {
    width: 300px;
    height: 280px;
    margin-bottom: -120px;
    z-index: 1;
}

.act {
    max-height: 100px;
    margin-top: 160px;
    margin-bottom: 30px;
    height: 100px;

    font-size: 40px;
    font-weight: 800;
    text-align: center;
    line-height: 48px;
}

.act-detail {
    max-height: 900px;
    max-width: 465px;
    margin-top: 50px;
    padding: 0 20px;

    font-size: 23.25px;
    line-height: 50px;
}