.nav {
    height: 130px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}

.nav-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 33%;
    align-items: center;
}

.nav-img {
    width: 15%;
    display: flex;
    align-items: center;
}

.nav button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #ffffff;
}

.dot {
  opacity: 1;
  border-radius: 50%;
  margin-left: 50px;
}

.block {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: max-content;
    height: 70px;
    margin-top: 20px;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
}

.block:hover {
    cursor: pointer;
}

#btn1:hover + .dot,
#btn2:hover + .dot,
#btn3:hover + .dot {
  /* display: block; */
  /* border-radius: 50%; */
  height: 10px;
  width: 10px;
  background-color: white;

  transition: all ease-in-out 1s;
}

#btn1:hover,
#btn2:hover,
#btn3:hover {
  cursor: pointer;
  font-weight: bold;
}

#btn1,
#btn2,
#btn3 {
    width: max-content;
    margin-bottom: 10px;
}

.nav-mobile-hamburger {
    height: auto;
    margin-top: 20px;
    align-items: center;
    cursor: pointer;
    filter: invert(100%) sepia(0%) saturate(7461%) hue-rotate(168deg) brightness(108%) contrast(105%);
}

.nav-mobile-hamburger:focus {
  background: red;
}

.nav-mobile-menu {
  display: none;
  text-align: center;
  margin-right: 50px;
  font-size: 20px;
}

.nav-mobile-menu ul {
  margin-left: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.nav-mobile-menu ul li {
  width: max-content;
  list-style: none;
  cursor: pointer;
}

.nav-mobile-menu ul li:hover {
  font-weight: 800;
}

@media all and (max-width: 1024px) {
    /*브라우저 창 width가 1024px보다 작아지는 순간부터 적용 태블릿 */
}

@media all and (max-width: 768px) {
    /*브라우저 창 width가 768px보다 작아지는 순간부터 적용 모바일 */
    .nav button {
        display: none;
    }
    .nav-mobile-hamburger {
        display: block;
    }
    .nav-img {
        width: 40%;
        display: flex;
        align-items: center;
    }
}

@media all and (min-width: 768px) {
    /*브라우저 창 width가 768px보다 커지는 순간부터 적용 태블릿 */
    .nav button {
        display: block;
    }
    .nav-mobile-hamburger {
        display: none;
    }
    .nav-img {
        width: 15%;
        display: flex;
        align-items: center;
    }
}

@media all and (min-width: 1024px) {
    /*브라우저 창 width가 1024px보다 커지는 순간부터 적용 데스크탑 */
}