.nav {
  height: 130px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
}

.nav-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 33%;
}

.nav-img {
  width: 15%;
  display: flex;
  align-items: center;
}

.nav button {
  margin-left: 10%;
  background-color: transparent;
  border: none;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
}

#dot1 {
  display: none;
}

#dot2 {
  display: none;
}

#dot3 {
  display: none;
}

.block {
  text-align: center;
}

#btn1:hover + #dot1 {
  margin-left: 10%;
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

#btn2:hover + #dot2 {
  margin-left: 10%;
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

#btn3:hover + #dot3 {
  margin-left: 10%;
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}
