.who {
  padding: auto 134px;
  height: 1080px;
  background-color: rgb(0, 0, 0);
}

.who-p1 {
  margin-top: 0;
  color: white;
  font-size: 64px;
}

.who-p1:hover,
.who-p2:hover {
  color: #00dcb4;
}

.who-p2 {
  text-align: right;
  margin-top: 0;
  color: white;
  font-size: 64px;
}

.who-div1 {
  width: max-content;
  position: relative;
  left: 267px;
  margin-bottom: 390px;
}

.who-div2 {
  width: max-content;
  position: absolute;
  right: 267px;
  margin-bottom: 390px;
}

.square-who {
  float: right;
  margin-left: 300px;
  width: 22px;
  padding-bottom: 22px;
  background-color: rgb(255, 255, 255);
}

.who-div1:hover .square-who,
.who-div2:hover .square-who {
  rotate: 45deg;
  background-color: #00dcb4;
}
